$primaryColor: indianred;
$secondaryColor: yellowgreen;
$buttonColor: yellow;
$buttonColorTwo: green;
$fontsize: 1.2rem;
$fontfamily: Arial Helvetica sans-serif;
// !global is used to make variables take a global scope even if it declared within a styling block.
body {
  background-color: $secondaryColor;
  font-family: $fontfamily;
}

.dailyTodo {
  text-align: center;
  color: whitesmoke;
}
.new-item-head {
  color: white;
  text-align: center;
  text-shadow: 2rem;
}
form {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  label {
    font-size: 1.5rem;
    color: white;
  }
  input {
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    border: none;
  }
  button {
    padding: 0.2rem 0.8rem;
    border-radius: 0.3rem;
    border: none;
    background: $buttonColorTwo;
    color: $buttonColor;
    cursor: pointer;
    &:hover {
      background: $buttonColor;
      color: $buttonColorTwo;
    }
  }
}
.listContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  ul {
    border: 0.1rem solid black;
    padding: 0.8rem 0.8rem;
    list-style: none;
  }
}
.listTitle {
  h2 {
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }
  button {
    padding: 0.2rem 0.8rem;
    border-radius: 0.3rem;
    border: none;
    background: $buttonColor;
    color: $buttonColorTwo;
    cursor: pointer;
    &:hover {
      background: $buttonColorTwo;
      color: $buttonColor;
    }
  }
}
